In [3]:
fruits = ['apple','banana','pea','banana','pea']
for i in fruits:
    print(i)

apple
banana
pea
banana
pea

In [2]:
fruits = ['apple','banana','pea','banana','pea']
for i in fruits:
    print(i, end=",")

apple,banana,pea,banana,pea,

In [6]:
for i in range(6):
 print(i)

0
1
2
3
4
5

In [7]:
for i in range(2,10):
 print(i)

2
3
4
5
6
7
8
9

In [25]:
 for i in range(10):
  print("adarsh")

adarsh
adarsh
adarsh
adarsh
adarsh
adarsh
adarsh
adarsh
adarsh
adarsh

In [18]:
for i in range(1,20,2):
 print(i)

1
3
5
7
9
11
13
15
17
19

In [19]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [26]:
i=0
while i<=10:
 print(i)
 i+=1

0
1
2
3
4
5
6
7
8
9
10

    BREAK & CONTINUE

In [52]:
fruits = ['apple' ,'banana','onion','date','pea',]
for i in fruits:
   if i == 'onion':
    break
   print(i)

apple
banana

In [53]:
fruits = ['apple' ,'banana','onion','date','pea',]
for i in fruits:
   if i == 'onion':
    continue
   print(i)

apple
banana
date
pea