- how to create dicitionary
- how to access pairs in dicitionary
- how to run a loop in a dicitionary
- how to make nested dicitionary
- indexing in dicitionary

In [1]:
student ={
    "name": "John Doe",
    "age": 20,
    "courses": "BCA", 
    "marks": 85,
}
print(student)

{'name': 'John Doe', 'age': 20, 'courses': 'BCA', 'marks': 85}

In [2]:
info = dict(name="Jane Smith", age=22, courses="BBA", marks=90)
print(info)

{'name': 'Jane Smith', 'age': 22, 'courses': 'BBA', 'marks': 90}

In [3]:
info = dict(name= input("enter the name"), age=22, courses="BBA", marks=90)
print(info)

{'name': 'shiva', 'age': 22, 'courses': 'BBA', 'marks': 90}

In [6]:
temp={
    'lucknow': [25,30,45],
    'delhi': [30,35,40],
    'chennai': [35, 40, 45]
}
print(temp)

{'lucknow': [25, 30, 45], 'delhi': [30, 35, 40], 'chennai': [35, 40, 45]}

In [7]:
# 1st method to access value through key
info['name']
info['age']

22

In [10]:
#2nd method to access value through key
info.get('name')
info.get('course')

In [11]:
# adding adding new value in the dicitionary
info['city'] ='lucknow'

In [12]:
print(info)

{'name': 'shiva', 'age': 22, 'courses': 'BBA', 'marks': 90, 'city': 'lucknow'}