- how to create dicitionary
- how to access pairs in dicitionary
- how to run a loop in a dicitionary
- how to make nested dicitionary
- indexing in dicitionary

In [1]:
student ={
    "name": "John Doe",
    "age": 20,
    "courses": "BCA", 
    "marks": 85,
}
print(student)

{'name': 'John Doe', 'age': 20, 'courses': 'BCA', 'marks': 85}

In [2]:
info = dict(name="Jane Smith", age=22, courses="BBA", marks=90)
print(info)

{'name': 'Jane Smith', 'age': 22, 'courses': 'BBA', 'marks': 90}

In [3]:
info = dict(name= input("enter the name"), age=22, courses="BBA", marks=90)
print(info)

{'name': 'shiva', 'age': 22, 'courses': 'BBA', 'marks': 90}

In [4]:
temp={
    'lucknow': [25,30,45],
    'delhi': [30,35,40],
    'chennai': [35, 40, 45]
}
print(temp)

{'lucknow': [25, 30, 45], 'delhi': [30, 35, 40], 'chennai': [35, 40, 45]}

In [5]:
# 1st method to access value through key
info['name']
info['age']

22

In [6]:
#2nd method to access value through key
info.get('name')
info.get('course')

In [7]:
# adding adding new value in the dicitionary
info['city'] ='lucknow'

In [8]:
print(info)

{'name': 'shiva', 'age': 22, 'courses': 'BBA', 'marks': 90, 'city': 'lucknow'}

In [10]:
for i in student :
    print(i)

name
age
courses
marks

In [11]:
for i,j in student.items():
    print(f'{i} : {j}')

name : John Doe
age : 20
courses : BCA
marks : 85

In [12]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'courses', 'marks'])
dict_values(['John Doe', 20, 'BCA', 85])
dict_items([('name', 'John Doe'), ('age', 20), ('courses', 'BCA'), ('marks', 85)])

In [13]:
company = {
    'emp 001': {
        'name': 'Alice',
        'dept': 'HR',
        'salary': 50000
    },
    'emp 002': {
        'name': 'Bob',
        'dept': 'IT',
        'salary': 60000
    },
    'emp 003': {
        'name': 'Charlie',
        'dept': 'Finance',
        'salary': 55000
    }
}
print(company)

{'emp 001': {'name': 'Alice', 'dept': 'HR', 'salary': 50000}, 'emp 002': {'name': 'Bob', 'dept': 'IT', 'salary': 60000}, 'emp 003': {'name': 'Charlie', 'dept': 'Finance', 'salary': 55000}}

In [14]:
from pprint import pprint

In [16]:
pprint(company)

{'emp 001': {'dept': 'HR', 'name': 'Alice', 'salary': 50000},
 'emp 002': {'dept': 'IT', 'name': 'Bob', 'salary': 60000},
 'emp 003': {'dept': 'Finance', 'name': 'Charlie', 'salary': 55000}}

In [20]:
company['emp004'] = {
    'name': 'David',
    'dept': 'Marketing',
    'salary': 52000
}

In [21]:
pprint(company)

{'emp 001': {'dept': 'HR', 'name': 'Alice', 'salary': 50000},
 'emp 002': {'dept': 'IT', 'name': 'Bob', 'salary': 60000},
 'emp 003': {'dept': 'Finance', 'name': 'Charlie', 'salary': 55000},
 'emp004': {'dept': 'Marketing', 'name': 'David', 'salary': 52000}}

In [23]:
company["emp 001"]['salary']

50000

In [28]:
print(sum(temp['lucknow'])/len(temp['lucknow']))

33.333333333333336